.advantages-list {
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.advantages-list--top {
  margin-bottom: 78px;

  .advantages-list__item {
    position: relative;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(209, 10, 66, 0.2);
  }
}

.advantages-list__item {
  display: flex;
  width: 33.7%;
}

.advantages-list__item-amount {
  margin-right: 8.8%;
}

.advantages-list__item-amount p {
  margin: 0;
  margin-top: -5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 73px;
  line-height: 58px;
  background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages-list__item-amount small {
  font-size: 14px;
  color: #2e35ac;
}

.advantages-list__item-info h3 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  color: #102654;
  padding-bottom: 11px;
}

.advantages-list__item-info p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #102654;
}

@media (max-width: $tablet-width) {
  .advantages-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages-list--top {
    margin-bottom: 44px;

    .advantages-list__item {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .advantages-list__item {
    width: 47.5%;
  }

  .advantages-list__item-amount p {
    padding-bottom: 0;
    font-size: 58px;
    line-height: 56px;
  }

  .advantages-list__item-info h3 {
    font-size: 20px;
    padding-bottom: 7px;
  }
}

@media (max-width: $mobile-width) {
  .advantages-list {
    flex-direction: column;
    align-items: center;
  }

  .advantages-list--top {
    margin-bottom: 5px;

    .advantages-list__item {
      padding-bottom: 39px;
    }
  }

  .advantages-list__item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 38px;
  }

  .advantages-list__item-amount {
    margin-right: 0;
    text-align: center;
    padding-bottom: 12px;
  }

  .advantages-list__item-info {
    text-align: center;
    width: 73%;
    margin: 0 auto;
  }

  .advantages-list__item-info h3 {
    padding-bottom: 7px;
  }

  .advantages-list__item-text {
    padding-right: 25px;
    padding-left: 25px;
  }
}
