.container {
  width: 85%;
  margin: 0 auto;
}

.container h2 {
  font-family: "bebas_neue", "Arial", cursive;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;

  color: #102654;
}

.container--page-header {
  padding-top: 31px;
  padding-bottom: 50px;
}

.container--gym {
  margin-top: 120px;
  margin-bottom: 117px;
}

.container--subscription {
  padding-top: 116px;
  padding-bottom: 110px;
}

.container--promo {
  padding-top: 120px;
  padding-bottom: 113px;
}

.container--trainers {
  width: 87.9%;
  padding-bottom: 120px;
  position: relative;
}

.container--trainers h2 {
  padding-bottom: 54px;
  padding-left: 1.8%;
}

.container--advantages {
  width: 74%;
  padding-top: 115px;
  padding-bottom: 115px;
}

.container--ads {
  padding-top: 116px;
  padding-bottom: 113px;
}

.container--reviews {
  padding-bottom: 120px;
}

.container--reviews h2 {
  padding-bottom: 54px;
  text-align: center;
}

.container--form {
  width: 50%;
  background-color: #1c3374;
}

.container--contacts {
  width: 50%;
  border-top: 1px solid #74819c;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 44px;
}

@media (max-width: $tablet-width) {
  .container {
    width: 678px;
  }

  .container h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .container--page-header {
    padding-top: 38px;
    padding-bottom: 81px;
  }

  .container--gym {
    margin: 97px auto;
  }

  .container--subscription {
    padding-top: 98px;
    padding-bottom: 100px;
  }

  .container--promo {
    padding-top: 99px;
    padding-bottom: 98px;
  }

  .container--trainers {
    width: 596px;
    padding-bottom: 100px;
  }

  .container--trainers h2 {
    padding-bottom: 41px;
    text-align: center;
  }

  .container--advantages {
    padding-top: 98px;
    padding-bottom: 95px;
  }

  .container--ads {
    padding-top: 97px;
    padding-bottom: 98px;
  }

  .container--reviews {
    padding-bottom: 100px;
  }

  .container--reviews h2 {
    padding-bottom: 43px;
  }

  .container--form {
    width: 100%;
  }

  .container--footer {
    padding-top: 44px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 290px;
  }

  .container h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .container--page-header {
    padding-top: 18px;
    padding-bottom: 79px;
  }

  .container--gym {
    width: 100%;
    margin-top: 67px;
    margin-bottom: 67px;
  }

  .container--subscription {
    padding-top: 67px;
    padding-bottom: 70px;
  }

  .container--promo {
    padding-top: 70px;
    padding-bottom: 64px;
  }

  .container--trainers {
    width: 270px;
    padding-bottom: 70px;
  }

  .container--trainers h2 {
    padding-bottom: 44px;
  }

  .container--advantages {
    width: 100%;
    padding-top: 68px;
    padding-bottom: 25px;
  }

  .container--ads {
    padding-top: 67px;
    padding-bottom: 66px;
  }

  .container--reviews {
    padding-bottom: 69px;
  }

  .container--reviews h2 {
    padding-bottom: 45px;
  }

  .container--form {
    width: 100%;
  }

  .container--contacts {
    width: 290px;
  }

  .container--footer {
    position: relative;
    padding-top: 48px;
    flex-direction: column;
    align-items: flex-start;
  }
}
