.gym {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.gym__info {
  width: 43.1%;
  padding-bottom: 132px;
  flex-grow: 1;
  padding-top: 45px;
}

.gym__info h2 {
  text-transform: uppercase;
  font-family: "bebas_neue", "Arial", cursive;

  color: #102654;
  padding-bottom: 13px;
}

.gym__info h3 {
  font-family: "Roboto Condensed", "Arial", cursive;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #102654;

  margin: 0;
  padding-bottom: 43px;
}

.gym__info p {
  font-family: "Roboto Condensed Light", "Arial", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #102654;
  margin: 0;
  padding-bottom: 7px;
}

.gym__video {
  width: 660px;
  background-image: url("../../img/gym-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/gym-desktop@2x.jpg");
    background-size: contain;
  }
}

.gym__video-image {
  position: relative;
}

.gym__video-image img {
  padding-top: 288px;
  margin-left: -65px;
}

.gym__video-play img {
  padding: 0;
}

.gym__video-play {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 65px;
  left: 102px;
  outline: none;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    align-items: center;
    flex-direction: column;
  }

/*  .gym__container {
    flex-direction: column;
  }
*/
  .gym__info {
    width: 74%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 37px;
    padding-top: 0;
  }

  .gym__info h3 {
    padding-bottom: 39px;
  }

  .gym__info p {
    text-align: center;
  }

  .gym__info p:last-child {
    display: none;
  }

  .gym__video {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url("../../img/gym-tablet.jpg");
    background-size: contain;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gym-tablet@2x.jpg");
      background-size: contain;
      background-position: center top;
    }
  }

  .gym__video-image img {
    padding-top: 260px;
    margin-left: 0;
  }

  .gym__video-play {
    width: 73px;
    height: 73px;
    bottom: 11.5%;
    left: 35%;
  }

  .gym__video-play img {
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .gym {
    align-items: flex-start;
  }

  .gym__info {
    width: 290px;
    margin: 0 auto;
    align-items: flex-start;
    padding-bottom: 26px;
  }

  .gym__info h2 {
    padding-bottom: 11px;
  }

  .gym__info h3 {
    padding-bottom: 29px;
  }

  .gym__info p {
    text-align: left;
    padding-right: 30px;
  }

  .gym__video {
    width: 100%;
    margin: 0;
    background-image: url("../../img/gym-mobile.jpg");
    background-size: contain;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gym-mobile@2x.jpg");
      background-size: contain;
      background-position: center top;
    }
  }

  .gym__video-image img {
    padding-top: 353px;
  }

  .gym__video-play {
    bottom: 9.6%;
    left: 39%;
  }

  .gym__video-play img {
    padding: 0;
  }
}
