.main-screen {
  width: 32.5%;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 118px;
  padding-bottom: 44px;
}

.main-screen p {
  font-family: "bebas_neue", "Arial", cursive;
  text-transform: uppercase;
  margin: 0;
}

.main-screen__town {
  letter-spacing: 0.03em;
  font-size: 49px;
  line-height: 49px;
  padding-bottom: 5px;
}

.main-screen__name {
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 111px;
  line-height: 109px;
}

.main-screen__services-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 62px;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .main-screen {
    width: 324px;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 54px;
  }

  .main-screen__town {
    font-size: 34px;
    line-height: 34px;
    padding-bottom: 2px;
  }

  .main-screen__name {
    font-size: 90px;
    line-height: 86px;
    letter-spacing: 0.014em;
  }

  .main-screen__services-list {
    margin-bottom: 45px;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    width: 100%;
  }

  .main-screen__town {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 8px;
  }

  .main-screen__name {
    font-size: 82px;
    line-height: 78px;
  }

  .main-screen__services-list {
    margin-bottom: 47px;
  }
}
