.page-header {
  background-image: url("../../img/colorful-desktop.png");
  background-size: cover;
  background-color: #b80027;

  color: #ffffff;
}

.page-header__header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-header__header-links a {
  font-family: "bebas_neue", "Arial", cursive;
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}


.page-header__main-screen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("../../img/men-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/men-desktop@2x.jpg");
    background-size: 500px auto;
  }
}

.page-header__social {
  list-style: none;

  padding: 0;
  align-self: flex-end;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding-bottom: 43px;
}

.page-header__social-item {
  padding-top: 20px;
}

.page-header__social-item a {
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    color: #1c3374;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    background-image: url("../../img/colorful-tablet.png");
    background-size: cover;
  }

  .page-header__header-links {
    margin-bottom: 20px;
  }

  .page-header__header-links a {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .page-header__main-screen {
    padding-bottom: 24px;
    background-image: url("../../img/men-tablet.jpg");
    background-position: 100% top;
    background-size: 324px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/men-tablet@2x.jpg");
      background-size: 324px auto;
    }
  }

  .page-header__social {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    background-image: url("../../img/colorful-mobile.png");
    background-size: cover;
  }

  .page-header__header-links a {
    font-size: 20px;
    line-height: 20px;
  }

  .page-header__main-screen {
    background-image: none;
    padding-bottom: 0;
  }
}
