.profile {
  position: relative;
  width: 260px;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}

.profile p {

  font-weight: bold;
  font-size: 18px;
  line-height: 150%;

  margin: 0;
  padding-bottom: 25px;
}

.profile__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profile__image img {
  object-fit: contain;
  object-position: bottom;
  height: 294px;
  width: 260px;
}

@media (max-width: $tablet-width) {
  .profile {
    height: 294px;
    width: 268px;
  }

  .profile__image img {
    width: 268px;
    height: 294px;
    object-fit: cover;
  }
}

@media (max-width: $mobile-width) {
  .profile {
    height: 274px;
    width: 226px;
  }

  .profile__image img {
    width: 226px;
    height: 274px;
    object-fit: cover;
  }
}
