.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription h2 {
  text-transform: uppercase;
  margin-bottom: 37px;

  color: #102654;
}

.subscription__months {
  margin-bottom: 37px;
}

@media (max-width: $tablet-width) {
  .subscription h2 {
    margin-bottom: 30px;
  }

  .subscription__months {
    margin-bottom: 45px;
  }
}

@media (max-width: $mobile-width) {
  .subscription h2 {
    margin-bottom: 23px;
  }

  .subscription__months {
    margin-bottom: 35px;
  }
}
